<div class="mt-10 m-auto mb-2">

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-transparent bg-clip-text bg-gradient-to-r to-red-600 from-orange-500">
          Rodaja</h2>
        <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Explora mis habilidades técnicas.
          Desde desarrollo de software hasta análisis de datos, descubre cómo puedo agregar valor a tu equipo.</p>
      </div>

      <div class=" grid grid-cols-1 lg:grid-cols-2 gap-6">
        @for(skill of skills; track skill){
        <div
          class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 w-4/5 hover:bg-neutral-400/30">
          <a href="#">
            <img class="w-44 lg:w-60  mx-4  rounded-lg sm:rounded-none sm:rounded-l-lg" [src]="skill.icon"
              alt="Bonnie Avatar">
          </a>
          <div class="p-5">
            <h3 class="text-xl m-4 font-bold tracking-tight text-gray-900 dark:text-white">
              <a href="#">{{ skill.name }}</a>
            </h3>
            <span class="text-gray-500 m-4 dark:text-gray-400">CEO & Web Developer</span>
            <p class="m-4 font-light text-gray-500 dark:text-gray-400">{{ skill.description }}</p>
            <ul class="flex space-x-4 sm:mt-0">

              <li>
                <div class="sm:ml-auto sm:self-start">
                </div>
              </li>
            </ul>
          </div>
        </div>
        }
      </div>
    </div>
    <div>
      <img class="hidden lg:block lg:col-span-5 lg:float-right lg:mr-8 custom" src="../../../assets/images/personal.png"
        alt="mockup" (click)="navigateTo('/about-detail')">
    </div>
  </section>

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Proyectos Realizados</h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Sit vel rem eligendi animi vero deserunt odio velit laudantium, dolores, repudiandae in quia inventore amet
          itaque placeat blanditiis sequi corporis mollitia.</p>
      </div>
      <div class="space-y-8 md:grid md:grid-cols-1 lg:grid-cols-1 md:gap-12 md:space-y-0">
        @for(project of projects; track project; let i = $index) {
          <div>
            <div class="flex flex-row">
              @for(tech of project.techs; track tech) {
                <div class="flex mr-2 justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                  <img class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" [src]="tech" alt="">
                </div>
              }
            </div>
            <h3 class="mb-2 text-xl font-bold dark:text-white">{{ project.title }}</h3>
            <p class="text-gray-500 dark:text-gray-400">{{ project.description }}</p>
          </div>

          <div #carousel [id]="'carousel-' + i" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
              @for(image of project.images; track image; let j = $index) {
                <div [attr.ngClass]="{ 'block': j === 0, 'hidden': j !== 0 }" class="duration-700 ease-in-out" data-carousel-item>
                  <img [src]="image" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
              }
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
              @for(image of project.images; track image; let j = $index) {
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" [attr.aria-label]="'Slide ' + (j + 1)"
                        [attr.data-carousel-slide-to]="j"></button>
              }
            </div>
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Previous</span>
              </span>
            </button>
            <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
        }
      </div>


    </div>
  </section>
</div>
