.custom{
  position: relative;
  border: solid white;
  left: 15%;
  width: 100%;
  height: auto;
  mask-image: linear-gradient(
    black 75%,
    transparent
  );
  filter: drop-shadow(
    0 0 0.5rem black
  );
  filter: grayscale(100%);
}

.custom:hover{
  filter: grayscale(0%);
}

img{
  position: relative;
  left: 5%;
  filter: grayscale(100%);
  mask-image: linear-gradient(
    black 75%,
    transparent
  );
  filter: drop-shadow(
    0 0 0.5rem black
  );
}
img:hover{
  mask-image: linear-gradient(
    rgb(236, 96, 3) 75%,
    transparent
  );
}
