.custom {
  mask-image: linear-gradient(black 75%, transparent);
  filter: grayscale(100%) drop-shadow(0 0 0.5rem black);
  transition: transform 0.5s, filter 0.4s; /* Agregando transición */
  position: fixed;
  left: 80%;
  top: 16%;
  height: 120%;
  width: auto;
  padding: 8px;
  scale: 0.5;
}

.custom:hover {
  transform: scale(1.1); /* Usar transform para escalar */
  filter: grayscale(0%) ; /* Agregar sombra */
  cursor: pointer;
}

